body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

.container-pos {
  height: 100vh;
  padding: 0 1rem;
}

.content {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card-title {
  background-color: #1b3c53;
  border-radius: 5px;
  padding: 1rem;
  margin: 0;
  color: #ffffff;
  font-weight: bolder;
}

.card-header {
  background-color: #234c6a;
  color: #ffffff;
  font-weight: bolder;
  padding: 1rem 0;
}

.card-body {
  background-color: #456882;
  border-radius: 0 0 5px 5px;
  color: #ffffff;
}

.order-section {
  margin: 0;
  padding: 0;
}

.cart-section {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  color: #ffffff;
  font-weight: bolder;
}

.cart-header {
  background-color: #234c6a;
  border-radius: 5px 5px 0 0;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 3px #e5e5e5;
  border: 1px solid #f5f5f5;
  padding: 10px;
}

.cart-items {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  background-color: #e3e3e3;
  color: black
}

.cart-footer {
  background-color: #456882;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #dee2e6;
}

.total-section {
  background-color: #456882;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.btn-checkhout {
  border: none;
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
}

.btn-clear-cart {
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
}

.btn-back {
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  width: 8rem;
}
